################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Finance/FileContentIndex/7eba854e-8cf6-4c77-82dc-c524d8346c4c.vsidx
/.vs/slnx.sqlite
/.vs/Finance/FileContentIndex/a79b4732-2a88-464f-9486-6760de7192df.vsidx
/.vs/Finance/FileContentIndex/25221282-158f-44c1-a72f-c0cac087439a.vsidx
/.vs/Finance/FileContentIndex/a0b78760-4e0a-49bd-89b3-b12d4d3d4659.vsidx
/.vs/Finance/FileContentIndex
/Finance/.vs/Finance/FileContentIndex/015ad951-b873-4592-8c8f-abe5d75a4f1b.vsidx
/Finance/.vs/Finance/FileContentIndex/26e53755-0917-43bd-826e-e552561b2039.vsidx
/Finance/.vs/Finance/FileContentIndex/ad9f2548-c2f9-4e5f-80af-c0d394949b94.vsidx
/Finance/.vs/Finance/FileContentIndex/c121e4e7-72d5-438c-a45e-c5b487282484.vsidx
/Finance/.vs/Finance/FileContentIndex/c439723c-00ba-45f2-85d3-d0275f67dd0d.vsidx
/Finance/.vs/Finance/FileContentIndex/c98b5130-badf-42ac-9f78-92c4b0613809.vsidx
/Finance/.vs/Finance/FileContentIndex/de5f3a5e-1a84-433a-9e39-c77d66b696a7.vsidx
/Finance/.vs/Finance/FileContentIndex/deb7e0b6-2695-4387-b9a4-dc06793aa7a7.vsidx
/Finance/.vs/Finance/FileContentIndex/f30c420e-6555-45c2-b561-b0cd6e5ce4f4.vsidx
/Finance/.vs/Finance/FileContentIndex/f448e1b4-31b9-4ca6-91e7-cd24399a36e3.vsidx
